@charset "UTF-8";
#search {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
}

#maincategory {
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
    height: 80px;
    display: flex;
    align-items: center;
}
#logo img {
  display: block;
  margin: 0 auto;
}
#buttons {
    color: black;
    width: 100%;
    height: 30px;
    text-align: right;
    background-color: transparent;
}