@charset "UTF-8";
#search {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
}

#maincategory {
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo-image {
  display: block;
  margin: 0 auto;
}
#buttons {
    color: black;
    width: 100%;
    height: 30px;
    text-align: right;
    background-color: transparent;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer {
   width: 100%;
   height: 60px;
   background-color: #D2B48C;
   display: flex;
   align-items: center;
   justify-content: center;
}