@charset "UTF-8";

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
#container{
	width:1800px;
	margin:5px auto;
}
a {
	text-decoration: none; /* 링크에 밑줄 제거 */
	color: inherit; /* 링크의 기본 색상 유지 */
}

a:visited {
	color: inherit; /* 방문한 링크의 색상 유지 */
}

a:hover, a:focus {
	outline: none; /* 클릭 포커스 시 아웃라인 제거 */
}
.text_align_right{
	text-align: right;
}